<div id="container_controller" class="user_page_element container controller">
    <div id="container_stack" class="container stack">

    </div>

    <div id="card_control_button_holder" class="btn_holder mt-4">
      <div class="btn custom_button btn-warning" id="payBtn">Pay</div>
      <div class="btn custom_button btn-warning ms-4" id="blockBtn">Block</div>
      <div class="btn custom_button btn-warning ms-4" id="depositBtn">Deposit</div>
    </div>

</div>
<div class="user_page_element side_bar p-4" style="display: none">
    <h1 class="text-warning balance">BALANCE:</h1>
    <h3 class="text-warning balance_value">1233453453453453453453453123123123123$</h3>
</div>